<%= form_with(model: profile, url: profile_path, local: true) do |form| %>
  <div class="nes-container with-title">
    <p class="title">Edit Profile</p>
    <% if profile.errors.any? %>

      <div class="nes-text is-error">
        <%= pluralize(profile.errors.count, "error") %> prohibited this entry from being saved:
      </div>
      <div class="nes-text is-error">
        <% profile.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>

    <% end %>


    <div class="nes-field">
      <label for="name_field">Height Inches</label>
      <%= form.text_field :height_inches, class: "nes-input" %>
    </div>

    <br>

    <button class="nes-btn is-primary" type="submit">
      Save
    </button>
    <%= link_to 'Cancel', profile_path, class: 'nes-btn' %>
  </div>

<% end %>
