<%= form_with(model: entry, local: true) do |form| %>

  <div class="nes-container with-title">
    <p class="title">New Entry</p>
    <% if entry.errors.any? %>

      <div class="nes-text is-error">
        <%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:
      </div>
      <div class="nes-text is-error">
        <% entry.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>

    <% end %>


    <div class="nes-field">
      <label for="name_field">Weight</label>
      <%= form.text_field :weight, class: "nes-input" %>
    </div>

    <div class="nes-field">
      <label for="name_field">Date</label>
      <%= form.text_field :date_entered, class: "nes-input" %>
    </div>

    <br>

    <button class="nes-btn is-primary" type="submit">
      Submit
    </button>




<% end %>


</div>






