<p id="notice"><%= notice %></p>
<h1 class="font-semibold text-3xl text-gray-700">Entries</h1>
<%= link_to 'New Entry', new_entry_path %>
<div class="w-full mb-12 xl:mb-0">
  <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-md rounded">
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
      <tr>
        <th class="table-header">Weight</th>
        <th class="table-header">Date Added</th>
        <th class="table-header"></th>
      </tr>
      </thead>
      <tbody>
      <% @entries.each do |entry| %>
        <tr>
          <td class="table-content"><%= entry.weight %></td>
          <td class="table-content"><%= entry.date_entered %></td>
          <td class="table-content"><%= link_to 'Destroy', entry_path(entry), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

