<h1>Home</h1>High: <%= @max_weight %>
Low: <%= @min_weight %>
<br>
<%= link_to "New Entry", new_entry_path %>

<br>
<h3>Last 7</h3>
<%= line_chart @user.entries.group_by_day(:date_entered, last: 30).minimum(:weight) %>


<h3>Last 4 months</h3>
<%= line_chart @user.entries.group_by_month(:date_entered, last: 4).minimum(:weight) %>


<h3>Last 12 months</h3>
<%= line_chart @user.entries.group_by_month(:date_entered, last: 12).minimum(:weight) %>
