<div class="nes-container with-title is-centered">
  <p class="title">Low</p>
  <%= @min_weight %> lbs
</div>
<br>
<div class="nes-container with-title is-centered">
  <p class="title">High</p>
  <%= @max_weight %> lbs
</div>
<br>

<div class="nes-container with-title">
  <p class="title">Last 7 days</p>
      <%= line_chart @user.entries.group_by_day(:date_entered, last: 7, series: false).minimum(:weight),
                     colors: ["#92cc41"],
                     library: {scales: {yAxes: [{ticks: {min: @min_weight}}]}}
      %>

</div>

<br>
<div class="nes-container with-title">
  <p class="title">Last 30 days</p>

      <%= line_chart @user.entries.group_by_day(:date_entered, last: 30, series: false).minimum(:weight),
                     colors: ["#92cc41"],
                     library: {scales: {yAxes: [{ticks: {min: @min_weight}}]}}
      %>

</div>

<br>
<div class="nes-container with-title">
  <p class="title">Last 12 months</p>
      <%= line_chart @user.entries.group_by_month(:date_entered, last: 12, series: false).minimum(:weight),
                     colors: ["#92cc41"],
                     library: {scales: {yAxes: [{ticks: {min: @min_weight}}]}}
      %>

</div>



