<div class="nes-container with-title is-centered">
  <p class="title"><i class="nes-icon coin is-small"></i> Curent Score <i class="nes-icon coin is-small"></i></p>
  <%= @current_weight %> lbs
</div>
<br>
<div class="nes-container with-title is-centered">
  <p class="title"><i class="nes-icon trophy is-small"></i> High Score <i class="nes-icon trophy is-small"></i></p>
  <%= @min_weight %> lbs
</div>
<br>
<div class="nes-container with-title is-centered">
  <p class="title"><i class="nes-icon close is-small"></i> Low Score <i class="nes-icon close is-small"></i></p>
  <%= @max_weight %> lbs
</div>
<br>

<div class="nes-container with-title">
  <p class="title">7 days [<%=  number_with_precision(@seven_day_average,  precision: 2 )%>]</p>
  <%= line_chart @user.entries.group_by_day(:date_entered, last: 7, series: false).minimum(:weight),
                 colors: ["#92cc41"],
                 library: {scales: {yAxes: [{ticks: {min: @min_weight}}]}}
  %>

</div>

<br>
<div class="nes-container with-title">
  <p class="title">30 days [<%=  number_with_precision(@thirty_day_average,  precision: 2 )%>]</p>

  <%= line_chart @user.entries.group_by_day(:date_entered, last: 30, series: false).minimum(:weight),
                 colors: ["#92cc41"],
                 curve: false,
                 dataset:{pointStyle: "rect", borderWidth: 4, borderDash: [5, 5]},
                 library: {scales: {yAxes: [{ticks: {min: @min_weight}}]}}
  %>

</div>

<br>
<div class="nes-container with-title">
  <p class="title">12 mo [<%=  number_with_precision(@twelve_month_average,  precision: 2 )%>]</p>
  <%= line_chart @user.entries.group_by_month(:date_entered, last: 12, series: false).minimum(:weight),
                 colors: ["#92cc41"],
                 curve: false,
                 dataset:{pointStyle: "rect", borderWidth: 4, borderDash: [5, 5]},
                 library: {pointStyle: "rect", scales: {yAxes: [{ticks: {min: @min_weight}}]}}
  %>
</div>





